/* normal button */
select {
  /* Reset */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  outline: 0;
  font: inherit;
  /* Personalize */
  width: 20rem;
  padding: 1rem 4rem 1rem 1rem;
  background: var(--arrow-icon) no-repeat right 0.8em center / 1.4em,
    linear-gradient(to left, var(--arrow-bg) 3em, var(--select-bg) 3em);
  color: white;
  border-radius: 0.25em;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

/* Remove IE arrow */
select::-ms-expand {
  display: none;
}

/* Remove focus outline */
select:focus {
  outline: none;
}

/* <option> colors */
select option {
  color: purple;;
  background-color: var(--option-bg);
}

.button-64 {
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.button-64:active,
.button-64:hover {
  outline: 0;
}

.button-64 span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.button-64:hover span {
  background: none;
}

@media (min-width: 768px) {
  .button-64 {
    font-size: 24px;
    min-width: 196px;
  }
}
/* ts button */
.button-65 {
  align-items: center;
  background-image: linear-gradient(144deg, rgba(0,117,153,1), rgba(0,31,69,1) 50%, rgba(4,0,25,1));
  border: 0;
  border-radius: 8px;
  box-shadow: rgb(5, 0, 63) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.button-65:active,
.button-65:hover {
  outline: 0;
}

.button-65 span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.button-65:hover span {
  background: none;
}

@media (min-width: 768px) {
  .button-65 {
    font-size: 24px;
    min-width: 196px;
  }
}
/* icon button */
.button-66 {
  align-items: center;
  background-image: linear-gradient(144deg, rgb(155, 155, 127), rgb(175, 180, 105) 50%, rgb(225, 225, 77));
  border: 0;
  border-radius: 8px;
  box-shadow: rgb(82, 82, 82) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.button-66:active,
.button-66:hover {
  outline: 0;
}

.button-66 span {
  background-color: rgb(47, 46, 30);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.button-66:hover span {
  background: none;
}

@media (min-width: 768px) {
  .button-66 {
    font-size: 24px;
    min-width: 196px;
  }
}


.full-screen-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 1);
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 24px;
    animation: fadeIn 8s;
  }
/* 
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .fade-in-animation {
    animation: fadeIn 4s ease-in-out;
  } */
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
      background-color: black; /* Initial background color */
    }
    25% {
      opacity: 0.5;
      background-color: black; /* Stay black for 25% of the animation duration */
    }
    85% {
      opacity: 1;
      background-color: rgb(0, 0, 0); /* Turn bright white at 50% of the animation duration */
    }
    88% {
      opacity: 1;
      background-color: rgb(102, 102, 102); /* Stay white for 25% of the animation duration */
    }
    100% {
      opacity: 0;
      background-color: rgb(105, 105, 105); /* Fade away at the end of the animation duration */
    }
  }




/* CSS */
